* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #aa1153;
}

body {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  background-color: #7c9867;
  /* align-items: center; */
}

.wrapper {
  width: 400px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.formula-info {
  width: 100%;
  background-color: #677c98;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  border-radius: 8px;
}

img {
  width: 150px;
  height: 150px;
}

.formula {
  margin: 60px 40px;
}

/* p {
  margin-top: 12px;
  display: flex;
  justify-content: center;
} */

.password {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 35px;
}

.password input {
  border-radius: 40px;
  padding: 10px;
  font-size: 15px;
  outline: solid #aa1153;
  border: none;
}

.wrap-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
}

.hide {
  display: none;
}
